<h3 class="get-pages-block">Pages</h3>
<div data-id="{{pages.id}}" id="myUL">
  {{#each pages as |pages|}}
  <div>
    <div class="pages" data-title="{{pages.title}}" data-name="{{pages.description}}" data-length={{pages.length}}>
      <h4>Title: <a href="http://localhost:4741/pages/{{pages.id}}">{{pages.title}}</a></h4>
      <h4>Description: {{pages.description}}</div>
    </div>
    <div>
      <br>
      <button data-id="{{pages.id}}" id="red-button" class="btn btn-danger destroy-page-button" value="delete">delete</button>
    </div>
  {{/each}}
</div>
