<div class="col-xs-12">
  <h2>Pages</h2>
  <button class="btn btn-success view-create-page-fields-button">Create New Post</button>
</div>

<div class="container all-pages-posts-view signed-in-view">
{{#each posts as |post|}}
  <div class="card col-xs-3" style="padding: 20px; height: 200px;">
    <div class="card-block" style="padding: 10px">
      <h4 class="card-title page-card-title">{{post.title}}</h4>
      <h4 class="card-text page-card-description">Description: {{post.description}}</h4>
      <h6 class="text-muted">{{post.owner}}</h6>
      <p class="card-text">{{post.content}}</p>
      <button data-id="{{page.id}}" class="btn btn-primary view-post-button">Open Post</button>
      <button data-id="{{page.id}}" class="btn btn-warning edit-posts-button">Edit Post</button>
      <button data-id="{{page.id}}" class="btn btn-danger delete-post-button">Delete Post</button>
    </div>
  </div>
{{/each}}
</div>
